<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Разработка и сопровождение сайтов и веб приложений">
    <meta name="keywords" content="">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>.svg-use,.svg_next{max-width: 2rem;}</style>
    <title>Мои работы</title>
  <link rel="icon" type="image/png" sizes="32x32" href="https://yuliyavolkova.github.io/portfolio_pages/icons-e37e1b74e0ab6134f431d1e0ff2f44e4/favicon-32x32.png"><link rel="icon" type="image/png" sizes="16x16" href="https://yuliyavolkova.github.io/portfolio_pages/icons-e37e1b74e0ab6134f431d1e0ff2f44e4/favicon-16x16.png"><link rel="shortcut icon" href="https://yuliyavolkova.github.io/portfolio_pages/icons-e37e1b74e0ab6134f431d1e0ff2f44e4/favicon.ico"><link href="https://yuliyavolkova.github.io/portfolio_pages/./assets/css/normalize.css" rel="stylesheet"><link href="https://yuliyavolkova.github.io/portfolio_pages/./assets/css/styles.my_works.css" rel="stylesheet"></head>
  <body>
    <!--[if lt IE 8]> <p class="chromeframe">Похоже, что ты используешь устаревший браузер, друг. Пожалуйста, <a href="http:// browsehappy.com/">скачай новый браузер абсолютно бесплатно</a> или <a href="http://www.google.com/chromeframe/?redirect=true">активируй Google Chrome Frame</a></p> <![endif]-->
    <div class="l-wrapper">
      <header class="l-section l-hero" data-section="1section">
        <div class="l-scroll-parallax-container">
          <div class="l-scroll-parallax__layer"><img class="l-scroll-parallax__img" src="https://yuliyavolkova.github.io/portfolio_pages/assets/images/decor/bg/parallax/layer_1.png" alt=""></div>
          <div class="l-scroll-parallax__layer"><img class="l-scroll-parallax__img" src="https://yuliyavolkova.github.io/portfolio_pages/assets/images/decor/bg/parallax/layer_2.png" alt=""></div>
          <div class="l-scroll-parallax__layer"><img class="l-scroll-parallax__img" src="https://yuliyavolkova.github.io/portfolio_pages/assets/images/decor/bg/parallax/layer_3.png" alt=""></div>
          <div class="l-scroll-parallax__layer"><img class="l-scroll-parallax__img" src="https://yuliyavolkova.github.io/portfolio_pages/assets/images/decor/bg/parallax/layer_4.png" alt=""></div>
          <div class="l-scroll-parallax__layer"><img class="l-scroll-parallax__img" src="https://yuliyavolkova.github.io/portfolio_pages/assets/images/decor/bg/parallax/layer_5.png" alt=""></div>
          <div class="l-scroll-parallax__layer"><img class="l-scroll-parallax__img" src="https://yuliyavolkova.github.io/portfolio_pages/assets/images/decor/bg/parallax/layer_6.png" alt=""></div>
          <div class="l-scroll-parallax__layer"><img class="l-scroll-parallax__img" src="https://yuliyavolkova.github.io/portfolio_pages/assets/images/decor/bg/parallax/layer_7.png" alt=""></div>
          <div class="l-scroll-parallax__layer"><img class="l-scroll-parallax__img" src="https://yuliyavolkova.github.io/portfolio_pages/assets/images/decor/bg/parallax/layer_8.png" alt=""></div>
          <div class="l-scroll-parallax__layer"><img class="l-scroll-parallax__img" src="https://yuliyavolkova.github.io/portfolio_pages/assets/images/decor/bg/parallax/layer_9.png" alt=""></div>
          <ul class="l-hero__social">
            <li class="l-hero__social-item"><a class="l-hero__social-link" href="https://yuliyavolkova.github.io/portfolio_pages/pages/about.html" target="_blank">
                <svg class="svg-use">
                  <use xlink:href="../assets/images/sprites/sprite.svg#vk">
                    <title>vk</title>
                  </use>
                </svg></a></li>
            <li class="l-hero__social-item"><a class="l-hero__social-link" href="https://yuliyavolkova.github.io/portfolio_pages/" target="_blank">
                <svg class="svg-use">
                  <use xlink:href="../assets/images/sprites/sprite.svg#github">
                    <title>github</title>
                  </use>
                </svg></a></li>
            <li class="l-hero__social-item"><a class="l-hero__social-link" href="https://yuliyavolkova.github.io/portfolio_pages/" target="_blank">
                <svg class="svg-use">
                  <use xlink:href="../assets/images/sprites/sprite.svg#in">
                    <title>in</title>
                  </use>
                </svg></a></li>
          </ul>
          <div class="l-hamburger l-hamburger_about">
            <nav class="c-hamburger-nav"><a class="c-hamburger-nav__target" id="openOverlay" href="">
                <svg class="svg_hamburger" id="hamburger" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 40 35">
                  <path fill="#FFFFFF" d="M40,2.5C40,3.881,38.881,5,37.5,5h-35C1.119,5,0,3.881,0,2.5l0,0C0,1.119,1.119,0,2.5,0h35C38.881,0,40,1.119,40,2.5L40,2.5z" id="firstLine"></path>
                  <path fill="#FFFFFF" d="M40,17.5c0,1.381-1.119,2.5-2.5,2.5h-35C1.119,20,0,18.881,0,17.5l0,0C0,16.119,1.119,15,2.5,15h35C38.881,15,40,16.119,40,17.5L40,17.5z" id="centerLine"></path>
                  <path fill="#FFFFFF" d="M40,32.5c0,1.381-1.119,2.5-2.5,2.5h-35C1.119,35,0,33.881,0,32.5l0,0C0,31.119,1.119,30,2.5,30h35C38.881,30,40,31.119,40,32.5L40,32.5z" id="lastLine"></path>
                </svg></a>
              <script type="template/text" id="hamburgerTemplate"><a class="c-hamburger-nav__close c-hamburger-nav__close" id="closeOverlay" href="">
                  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 40 35" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <path fill="#FFFFFF" d="M40,2.5C40,3.881,38.881,5,37.5,5h-35C1.119,5,0,3.881,0,2.5l0,0C0,1.119,1.119,0,2.5,0h35C38.881,0,40,1.119,40,2.5L40,2.5z" id="firstLine"></path>
                    <path fill="#FFFFFF" d="M40,17.5c0,1.381-1.119,2.5-2.5,2.5h-35C1.119,20,0,18.881,0,17.5l0,0C0,16.119,1.119,15,2.5,15h35C38.881,15,40,16.119,40,17.5L40,17.5z" id="centerLine"></path>
                    <path fill="#FFFFFF" d="M40,32.5c0,1.381-1.119,2.5-2.5,2.5h-35C1.119,35,0,33.881,0,32.5l0,0C0,31.119,1.119,30,2.5,30h35C38.881,30,40,31.119,40,32.5L40,32.5z" id="lastLine"></path>
                  </svg></a>
                <ul class="c-hamburger-nav__list">
                  <li class="c-hamburger-nav__item">
                    <svg class="svg_dash">
                      <use xlink:href="../assets/images/sprites/sprite.svg#dash">
                        <title>dash</title>
                      </use>
                    </svg><a class="c-hamburger-nav__link h-title-section h-title-section_color" href="#">мои работы</a>
                    <svg class="svg_dash">
                      <use xlink:href="../assets/images/sprites/sprite.svg#dash">
                        <title>dash</title>
                      </use>
                    </svg>
                  </li>
                  <li class="c-hamburger-nav__item">
                    <svg class="svg_dash">
                      <use xlink:href="../assets/images/sprites/sprite.svg#dash">
                        <title>dash</title>
                      </use>
                    </svg><a class="c-hamburger-nav__link h-title-section h-title-section_color" href="./blog.html">блог</a>
                    <svg class="svg_dash">
                      <use xlink:href="../assets/images/sprites/sprite.svg#dash">
                        <title>dash</title>
                      </use>
                    </svg>
                  </li>
                  <li class="c-hamburger-nav__item">
                    <svg class="svg_dash">
                      <use xlink:href="../assets/images/sprites/sprite.svg#dash">
                        <title>dash</title>
                      </use>
                    </svg><a class="c-hamburger-nav__link h-title-section h-title-section_color" href="./about.html">обо мне</a>
                    <svg class="svg_dash">
                      <use xlink:href="../assets/images/sprites/sprite.svg#dash">
                        <title>dash</title>
                      </use>
                    </svg>
                  </li>
                  <li class="c-hamburger-nav__item">
                    <svg class="svg_dash">
                      <use xlink:href="../assets/images/sprites/sprite.svg#dash">
                        <title>dash</title>
                      </use>
                    </svg><a class="c-hamburger-nav__link h-title-section h-title-section_color" href="../index.html#login">авторизация</a>
                    <svg class="svg_dash">
                      <use xlink:href="../assets/images/sprites/sprite.svg#dash">
                        <title>dash</title>
                      </use>
                    </svg>
                  </li>
                </ul>
                <div class="overlay-section section-left"></div>
                <div class="overlay-section section-right"></div>
              </script>
            </nav>
          </div>
          <svg class="svg_hero">
            <use xlink:href="../assets/images/sprites/sprite.svg#portfolio_header">
              <title>portfolio_header</title>
            </use>
          </svg>
          <div class="l-hero__develop">
            <div class="c-developer">
              <div class="c-developer__img-wrap" style="background-image: url('../assets/images/content/photo.jpg'); background-repeat:no-repeat;"><img class="c-developer__img visually-hidden" alt="" src="https://yuliyavolkova.github.io/portfolio_pages/assets/images/content/photo.jpg"></div>
              <div class="c-developer__content">
                <h1 class="c-developer__header">Yuliya Volkova</h1>
                <h2 class="c-developer__desc">Личный сайт WEB Разработчика</h2>
              </div>
            </div>
          </div><a class="c-next" id="next" href="#2section">
            <svg class="svg_next">
              <use xlink:href="../assets/images/sprites/sprite.svg#arrow_down">
                <title>arrow_down</title>
              </use>
            </svg></a>
          <div class="l-main__top">
            <svg class="svg_main-top_one-color">
              <use xlink:href="../assets/images/sprites/sprite.svg#bg">
                <title>bg</title>
              </use>
            </svg>
          </div>
          <section class="l-section l-main l-main parallax__content" data-section="2section">
            <div class="l-main__wrapper l-main_works">
              <div class="l-main__header">
                <div class="l-main__header-title">
                  <svg class="svg_dash">
                    <use xlink:href="../assets/images/sprites/sprite.svg#dash">
                      <title>dash</title>
                    </use>
                  </svg>
                  <h2 class="h-title-section">Мои Pаботы</h2>
                  <svg class="svg_dash">
                    <use xlink:href="../assets/images/sprites/sprite.svg#dash">
                      <title>dash</title>
                    </use>
                  </svg>
                  <svg class="svg-main-icon svg-main-icon_works">
                    <use xlink:href="../assets/images/sprites/sprite.svg#works_header">
                      <title>works_header</title>
                    </use>
                  </svg>
                </div>
              </div>
            </div>
            <div class="l-main__slider">
              <div class="c-slider">
                <div class="c-slider__desc-fr">
                  <div class="c-slider__desc-header">
                    <svg class="svg_dash">
                      <use xlink:href="../assets/images/sprites/sprite.svg#dash">
                        <title>dash</title>
                      </use>
                    </svg>
                    <h3 class="h-title-article">Сайт школы онлайн Образования</h3>
                    <svg class="svg_dash">
                      <use xlink:href="../assets/images/sprites/sprite.svg#dash">
                        <title>dash</title>
                      </use>
                    </svg>
                  </div>
                  <div class="c-slider__desc-text"><span>HTMl , CSS, JAVASCRIPT</span></div><a class="c-button c-slider__desc-link" href="https://webmanshake.ru/" target="_blank">
                    <svg class="svg_link">
                      <use xlink:href="../assets/images/sprites/sprite.svg#link">
                        <title>link</title>
                      </use>
                    </svg><span class="c-button__text">Посмотреть сайт</span></a>
                </div>
                <div class="c-slider__main-fr"><img class="c-slider__main-img" alt="" src="https://yuliyavolkova.github.io/portfolio_pages/assets/images/content/work-1.png"></div>
                <div class="c-slider__control-fr">
                  <div class="c-slider__control-prev"><img class="c-slider__control-img" alt="" src="https://yuliyavolkova.github.io/portfolio_pages/assets/images/content/work-4.png"><a class="c-slider__control__link" href="#">
                      <svg class="svg_slider-arrow">
                        <use xlink:href="../assets/images/sprites/sprite.svg#portf_arrow_down">
                          <title>portf_arrow_down</title>
                        </use>
                      </svg></a></div>
                  <div class="c-slider__control-next"><img class="c-slider__control-img" alt="" src="https://yuliyavolkova.github.io/portfolio_pages/assets/images/content/work-2.png"><a class="c-slider__control__link" href="#">
                      <svg class="svg_slider-arrow">
                        <use xlink:href="../assets/images/sprites/sprite.svg#portf_arrow_up">
                          <title>portf_arrow_up</title>
                        </use>
                      </svg></a></div>
                </div>
              </div>
            </div>
            <section class="l-section l-feeds" data-section="3section">
              <div class="l-layout-first">
                <div class="c-feeds">
                  <div class="c-feeds__header">
                    <div class="c-feeds__header-title">
                      <svg class="svg_dash">
                        <use xlink:href="../assets/images/sprites/sprite.svg#dash">
                          <title>dash</title>
                        </use>
                      </svg>
                      <h2 class="h-title-section">Что обо мне говорят</h2>
                      <svg class="svg_dash">
                        <use xlink:href="../assets/images/sprites/sprite.svg#dash">
                          <title>dash</title>
                        </use>
                      </svg>
                      <svg class="svg-main-icon svg-main-icon_works">
                        <use xlink:href="../assets/images/sprites/sprite.svg#about_header">
                          <title>about_header</title>
                        </use>
                      </svg>
                    </div>
                  </div>
                  <div class="c-feeds__content">
                    <div class="c-feeds__card">
                      <div class="c-feeds__card-icon"><span class="fa fa-quote-left"></span></div>
                      <div class="c-feeds-card__text"><span>Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!</span></div>
                      <div class="c-feeds-card__about">
                        <div class="c-feeds-card__img-wrap" style="background-image: url(../assets/images/content/kovalchuk.jpg); background-repeat:no-repeat;"><img class="c-feeds-card__img visually-hidden" alt="" src="require(../assets/images/content/kovalchuk.jpg)"></div>
                        <div class="c-feeds-card__about-text">
                          <div class="c-feeds-card__about-name"><span>Ковальчук Дмитрий</span></div>
                          <div class="c-feeds-card__about-desc"><span></span></div>
                        </div>
                      </div>
                    </div>
                    <div class="c-feeds__card">
                      <div class="c-feeds__card-icon"><span class="fa fa-quote-left"></span></div>
                      <div class="c-feeds-card__text"><span>Этот код выдержит любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!</span></div>
                      <div class="c-feeds-card__about">
                        <div class="c-feeds-card__img-wrap" style="background-image: url(../assets/images/content/sabanchev.jpg); background-repeat:no-repeat;"><img class="c-feeds-card__img visually-hidden" alt="" src="require(../assets/images/content/sabanchev.jpg)"></div>
                        <div class="c-feeds-card__about-text">
                          <div class="c-feeds-card__about-name"><span>Сабанцев Владимир</span></div>
                          <div class="c-feeds-card__about-desc"><span>преподаватель</span></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="c-feeds-form-bg">
                    <div class="c-feeds-blured"></div>
                    <div class="c-feeds-form">
                      <div class="c-feeds-form__header">
                        <svg class="svg_dash">
                          <use xlink:href="../assets/images/sprites/sprite.svg#dash">
                            <title>dash</title>
                          </use>
                        </svg>
                        <h3 class="h-title-article">Связаться со мной</h3>
                        <svg class="svg_dash">
                          <use xlink:href="../assets/images/sprites/sprite.svg#dash">
                            <title>dash</title>
                          </use>
                        </svg>
                      </div>
                      <form class="c-form" action="./server_test.php" id="feeds-form" method="POST" @submit="validateForm" novalidate="true">
                        <div class="c-form__inner">
                          <div class="c-form__row">
                            <label class="c-form__item">
                              <input class="c-form__input" type="text" name="username" placeholder="Имя" v-model="name.value" :class="{'error': attemptSubmit &amp;&amp; wrongName}">
                              <div class="validator-error" v-if="name.error">{{name.error}}</div>
                            </label>
                          </div>
                          <div class="c-form__row">
                            <label class="c-form__item">
                              <input class="c-form__input" type="email" name="email" placeholder="Email" :class="{'error': attemptSubmit &amp;&amp; wrongMail}" v-model="email.value">
                              <div class="validator-error" v-if="email.error">{{email.error}}</div>
                            </label>
                          </div>
                          <div class="c-form__row">
                            <label class="c-form__item">
                              <textarea class="c-form__textarea" type="text" placeholder="Ваше сообщение" name="mesage" v-model="textmes.value" :class="{'error': attemptSubmit &amp;&amp; missingMessage}"></textarea>
                              <div class="validator-error" v-if="textmes.error">{{textmes.error}}</div>
                            </label>
                          </div>
                          <ul class="c-form__buts-action">
                            <li class="c-form__nav-item">
                              <button class="c-form__nav-link" id="targetMain" type="submit" value="Submit"><span class="c-button__text">Отправить</span></button>
                            </li>
                            <li class="c-form__nav-item">
                              <button class="c-form__nav-link" type="reset" value="Reset"><span class="c-button__text">Очистить</span></button>
                            </li>
                          </ul>
                        </div>
                      </form>
                    </div>
                  </div><a class="c-prev" id="first" href="#1section">
                    <svg class="svg_prev">
                      <use xlink:href="../assets/images/sprites/sprite.svg#arrow_down">
                        <title>arrow_down</title>
                      </use>
                    </svg></a>
                </div>
                <footer class="l-footer">
                  <div class="l-container">
                    <div class="l-footer__nav">
                      <ul class="c-nav__list">
                        <li class="c-nav__item"><a class="c-nav__link" href="#">мои работы</a></li>
                        <li class="c-nav__item"><a class="c-nav__link" href="./blog.html">блог</a></li>
                        <li class="c-nav__item"><a class="c-nav__link" href="./about.html">обо мне</a></li>
                        <li class="c-nav__item"><a class="c-nav__link" href="../index.html#login">авторизация</a></li>
                      </ul>
                    </div>
                    <div class="l-footer__text"><span>Я веб-разработчик из Санкт-Петербурга, и этот сайт я сделала в рамках обучения в Школе онлайн образования LoftSchool.</span></div>
                    <ul class="l-footer__social">
                      <li class="l-footer__social-item"><a class="l-footer__social-link" href="https://yuliyavolkova.github.io/portfolio_pages/pages/about.html" target="_blank">
                          <svg class="svg-use">
                            <use xlink:href="../assets/images/sprites/sprite.svg#vk">
                              <title>vk</title>
                            </use>
                          </svg></a></li>
                      <li class="l-footer__social-item"><a class="l-footer__social-link" href="https://yuliyavolkova.github.io/portfolio_pages/" target="_blank">
                          <svg class="svg-use">
                            <use xlink:href="../assets/images/sprites/sprite.svg#github">
                              <title>github</title>
                            </use>
                          </svg></a></li>
                      <li class="l-footer__social-item"><a class="l-footer__social-link" href="https://yuliyavolkova.github.io/portfolio_pages/" target="_blank">
                          <svg class="svg-use">
                            <use xlink:href="../assets/images/sprites/sprite.svg#in">
                              <title>in</title>
                            </use>
                          </svg></a></li>
                    </ul>
                    <ul class="c-copy c-copy_footer">
                      <li class="c-copy_item">&copy;&nbsp;Yuliya Volkova</li>
                      <li class="c-copy_item">создано в &laquo;&nbsp;<a href="https://loftschool.com/" target="_blank">LoftSchool</a>&nbsp;&raquo;</li>
                      <li class="c-copy_item">2018</li>
                    </ul>
                  </div>
                </footer>
              </div>
            </section>
          </section>
        </div>
      </header>
    </div>
    <div id="loader-wrapper">
      <div id="loader">
        <svg class="svg_preloader" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="144px" height="144px" viewBox="0 0 144 144">
          <circle id="bigCircle" opacity="0.4" fill="none" stroke="#FFFFFF" stroke-width="4" stroke-miterlimit="10" cx="72" cy="71.999" r="70"></circle>
          <circle id="middleCircle" opacity="0.7" fill="none" stroke="#FFFFFF" stroke-width="3.8938" stroke-miterlimit="10" cx="72" cy="72" r="55"></circle>
          <circle id="smallCircle" fill="none" stroke="#FFFFFF" stroke-width="4" stroke-miterlimit="10" cx="72" cy="72" r="40"></circle>
        </svg>
        <div class="loader__text" id="preloaderText"><span></span></div>
      </div>
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
    </div>
  <script type="text/javascript" src="https://yuliyavolkova.github.io/portfolio_pages/app/common.bundle.js"></script><script type="text/javascript" src="https://yuliyavolkova.github.io/portfolio_pages/app/my_works.bundle.js"></script></body>
</html>